---
import "../styles/global.css";
---
<nav class="bg-beige">
  <ul class="flex justify-around p-2 text-sm uppercase">
    <li>OPINION</li>
    <li>BUSINESS & TRENDS</li>
    <li>POLITICS</li>
    <li>SPORTS</li>
    <li>STYLE & EXPERIENCES</li>
    <li>SUSTAINABILITY</li>
    <li>ACADEMIC</li>
    <li>WORLDS OF LUXURY</li>
  </ul>
</nav>