---
import "../styles/global.css";
---
<section class="space-y-4">
  <div>
    <h3 class="text-red-500 font-bold">TRENDING TOPIC</h3>
    <div class="mt-2 space-y-4">
      <div>
        <span class="font-bold">#1</span>
        <h4 class="text-md font-bold">Contract lawyers face a growing invasion of surveillance programs that monitor their work</h4>
        <p class="text-sm">Brief description...</p>
        <div class="text-xs text-gray-500">
          <span>23 minutes ago</span>
          <span> • By Michael Jondy and Sarah Aspari</span>
        </div>
      </div>
      <div>
        <span class="font-bold">#2</span>
        <h4 class="text-md font-bold">Hawley claims American manhood is broken. Where are his solutions?</h4>
        <p class="text-sm">Brief description...</p>
        <div class="text-xs text-gray-500">
          <span>30 minutes ago</span>
          <span> • By Michael Jondy and Sarah Aspari</span>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3 class="text-red-500 font-bold">LATEST UPDATE</h3>
    <div class="mt-2">
      <span class="font-bold">#1</span>
      <h4 class="text-md font-bold">Latest update headline goes here</h4>
      <p class="text-sm">Brief description...</p>
      <div class="text-xs text-gray-500">
        <span>10 minutes ago</span>
        <span> • By Michael Jondy and Sarah Aspari</span>
      </div>
    </div>
  </div>
</section>